body{
	margin: 0px;
	padding: 0px;
}
.Aquaworld{
	position:absolute;
	top: 30px;
	left:30%;
	z-index: 2;
	color: white;

}
h1{
	font-size: 100px;
	text-shadow: 2px 2px black; 

}
small{
	font-size: 50px;
	text-shadow: 2px 2px black;
	position: absolute;
	left: 30%;
	top: 30px;

}
.buy-now{
	position:absolute;
	top: 200px;
	left:37%;
	font-size: 20px;

}
.buy-now:hover{
	box-shadow: 0px 0px 40px red;
	text-shadow: 0 0 3px white;
}
.details{
	
	z-index: 2;
	position: absolute;
	bottom: 0;
	top:88%;
	left: 44%;
	color: black;
	font-size: 20px;
	text-shadow: 0 0 3px black;
	font-weight: bold;

	
}
.details a{
	color: black;
	letter-spacing: 3px;
	position: absolute;
	left: -20px;

}
.container{
	background-image: url("../aquarium/aqua1.jpg");
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;

	
}

.fish-nav{
	position: fixed;
	width: 100%;
	top:0px;

}
button{
	color: white;
	padding: 20px;
	margin: 20px;
	background: transparent;
	border: 3px solid white;
	border-radius: 50px;
	cursor: pointer;
	float: right;
	
}
.fish-nav a{
	float: left;
	color: white;
	padding: 10px;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
}

.bubble img{
	width: 50px;
	animation: bubble 5s linear infinite;	

}
.bubble{
	width:100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position:absolute;
	bottom:0%;
}



@keyframes bubble{
	0%{
		transform: translateY(0);
		opacity: 0;
		
	}
	50%{
		
		opacity: 1;
	}
	70%{
		
		opacity: 1;
	}
	100%{
		transform: translateY(-90vh);
		opacity: 0;
	}
}

.bubble img:nth-child(1){
	animation-delay: 2s;
	width: 35px;
	bottom: 0px;

} 
.bubble img:nth-child(2){
	animation-delay: 1s;
	bottom: 0px;
	

} 
.bubble img:nth-child(3){
	animation-delay: 3s;
	width: 55px;
	bottom: 0px;


} 
.bubble img:nth-child(4){
	animation-delay: 4.5s;
	width: 25px;
	

} 
.bubble img:nth-child(5){
	animation-delay: 3.5s;
	

} 
.bubble img:nth-child(6){
	animation-delay: 6s;
	width: 50px;
	

} 
.bubble img:nth-child(7){
	animation-delay: 7s;
	width: 25px;
	

} 
.bubble img:nth-child(8){
	animation-delay: 4s;
	width: 65px;

} 

.fish img{
	
	position: absolute;
	
}
.fish{
	width: 100%;
	height: 100%;
	display: flex;
	position:fixed;
	bottom:0px;

}
.fish1 {
	top:5%;
	left: -20%;
	transform: translateY(-50%);
	animation: fish 15s linear infinite;
}
.fish2{
	top:30%;
	left:100%;
	transform: translateY(-50%);
	animation: fish2 20s linear infinite;
}
.fish3{
	top:50%;
	left: -40%;
	transform: translateY(-50%);
	animation: fish2 18s linear infinite;
}
.fish4{
	top:70%;
	left: -66%;
	transform: translateY(-50%);
	animation: fish 15s linear infinite;
}
.fish5{
	top:89%;
	left: -80%;
	transform: translateY(-50%);
	animation: fish2 12s linear infinite;
}


@keyframes fish{
	0%{
		left:-10%;
		
	}
	
	100%{
		left: 150%;
	}
}
@keyframes fish2{
	0%{
		left:150%;
		
	}
	
	100%{
		left: -10%;
	}
}

.fish img:nth-child(1){
	animation-delay: 2s;
	width: 35px;
	bottom: 0px;
	width: 120px;
	transform: rotate(180deg);

} 
.fish img:nth-child(2){
	animation-delay: 10s;
	bottom: 0px;
	width: 250px;


} 
.fish img:nth-child(3){
	animation-delay: 4s;
	width: 55px;
	bottom: 0px;
	width: 150px;



} 
.fish img:nth-child(4){
	animation-delay: 8s;
	width: 25px;
	width: 200px;

	

} 
.fish img:nth-child(5){
	animation-delay: 6s;
	width: 150px;

	

} 
